body {
    background-color: rgb(202, 198, 193);
    margin: 0;
}
h1 {margin: 0;}
a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 70%;
    padding: 10px;
    margin: 0 auto;    
    background-color: lightcoral;
}

.header {
    text-align: center;
}

.header-title {
    font-family: 'Marck Script', cursive;
    font-size: 60px;
}
.main-picture {
    border: 3px solid green;
}

@media(width <= 600px) {
    .main-picture {
        width: 80%;
        height: auto;
    }
    .header-title {
        font-size: 40px;
    }
}

.nav {
    display: flex;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-link {
    display: inline-block;
    background-color: aqua;
    width: 200px;
    margin: 10px;
    padding: 0;
    border: 1px solid royalblue;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    transition: background .1s linear;
}

.nav-link:hover {
    background-color: rgb(77, 116, 233);
}

.preview {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(206, 129, 129);
    margin: 0px 20px;
    font-size: 20px;
    font-style: italic;
}

.fb-title {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    margin: 20px 0;
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (width <= 800px) {
    .feedback-container {
        flex-direction: column;
        align-content: space-around;
    }
}

.feedback {
    margin: 10px;
    background-color: rgb(237, 145, 145);
    border: 2px solid #444242;
    border-radius: 10px;
    width: 40%;
}

.feedback blockquote {
    margin: 0;
    padding: 15px;
}

@media (width <= 800px) {
    .feedback {
        width: 90%;
    }
}

.feedback h4 {
    margin-right: 15px;
    text-align: end;
}

.feedback blockquote::before {
    content: "\201C";
    font-size: 20px;
}

.feedback blockquote::after {
    content: "\201D";
    font-size: 20px;
}