body {
    background-color: rgb(202, 198, 193);
    margin: 0;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}


.header {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    background-color: lightcoral;
    font-size: 30px;
    text-align: center;
}

.header_title {
    font-family: 'Marck Script', cursive;
}
.main_picture {
    border: 3px solid green;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px 0;
}

.nav_link {
    display: inline-block;
    background-color: aqua;
    width: 220px;
    margin: 10px;
    padding: 0;
    border: 1px solid royalblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background .1s linear;
}

.nav_link:hover {
    background-color: rgb(77, 116, 233);
}

.preview {
    text-align: left;
    margin: 10px 20px;
    font-size: 16px;
}

#vk_poll {
    display: flex;
    margin: 10px auto;

    width: 50%;
    max-width: 500px;
}
