* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: rgb(235, 205, 205);
}

@media (width <= 770px) {
    .intro {
        height: auto;
    }
}

.intro-title {
    margin-right: 20px;
    font-family: 'Marck Script', cursive;
}

.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (width <= 420px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }

    .nav-link {
        margin: 5px 0;
    }
}

.start {
    height: 870px;
    background: rgb(218, 206, 218) url("../museum/img/start-bg.jpg") center no-repeat;
}

.start-main {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    position: relative;
    left: 5cm;
    top: 200px;
    align-items: center;
    justify-content: space-between;
}

@media (width <= 770px) {
    .start-main {
        left: 20px;
    }
}

.start-text {
    color: rgb(108, 214, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(39, 206, 42);
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 5px;
}