* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: rgb(235, 205, 205);
}

@media (width <= 770px) {
    .intro {
        height: auto;
    }
}

.intro-title {
    margin-right: 20px;
    font-family: "Marck Script", cursive;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.nav-link {
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (width <= 420px) {
    .nav {
        flex-direction: column;
        align-items: start;
    }

    .nav-link {
        margin: 5px 0;
    }
}

.contacts {
    background: url("img/bg.jpg") center;
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact {
    padding: 10px;
    margin: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    background: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media (550px <= width <= 900px) {
    .contacts-container {
        flex-direction: row;
    }
    .contact {
        width: 100%;
    }
}

@media (width <= 900px) {
    .contacts {
        flex-direction: column;
        align-items: center;
    }
    .contacts-container {
        width: 100%;
    }
}

.contact h3 {
    font-style: italic;
}

.contact-link:hover {
    color: blueviolet;
}

.contacts-map iframe {
    border: 2px solid #000;
    width: 560px;
    height: 400px;
}

@media (width <= 650px) {
    .contacts-map iframe {
        width: 80vw;
        height: 250px;
    }
}